<!-- previous code -->
<!-- <nav class="navbar navbar-light" style="background-color: #e3f2fd;">
  <div class="container-fluid">
    <h1>My Members</h1>
    <div class="d-flex">
      <button type="button" (click)="clickAddMember()" class="btn btn-info btn-lg" (click)="openModal()" class="btn btn-success">Add
        Member</button>
    </div>
  </div>
</nav> -->
<header class="p-3 bg-dark text-white" id="webhead">
  <div class="container">
    <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
      <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none">
        <svg class="bi me-2" width="40" height="32" role="img" aria-label="Bootstrap">
          <use xlink:href="#bootstrap"></use>
        </svg>
      </a>
      <h1 class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">My Members</h1>
      <div class="text-end">
        <button type="button" (click)="clickAddMember()" class="btn btn-info btn-lg" (click)="openModal()"
          class="btn btn-warning">Add
          Member</button>
          <button routerLink="/login"  class="btn.btn-danger mx-2">Logout</button>
      </div>
    </div>
  </div>
</header>


<div class="p-5 mb-4 bg-body-tertiary rounded-3 container py-4">  
  <table class="table">
    <thead>
      <tr>
        <th scope="col">Member ID</th>
        <th scope="col">First Name</th>
        <th scope="col">Last Name</th>
        <th scope="col">Email ID</th>
        <th scope="col">Mobile No.</th>
        <th scope="col">Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let row of memberData">
        <td>{{row.id}}</td>
        <td>{{row.firstName}}</td>
        <td>{{row.lastName}}</td>
        <td>{{row.email}}</td>
        <td>{{row.mobile}}</td>
        <td class="smalldis">
          <button (click)="onEdit(row)" type="button" class="btn btn-info btn-lg" (click)="openModal()"
            class="btn btn-info">Edit</button>
          <button (click)="deleteMember(row)" class="btn btn-danger mx-3">Delete</button>
        </td>
      </tr>
    </tbody>
  </table>
  <!-- <button type="button" class="btn btn-info btn-lg" (click)="openModal()">click to open</button> -->
  <div class="modal" tabindex="-1" role="dialog" [ngStyle]="{'display':display}">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">Member Details</h4>
          <button type="button" class="close" aria-label="Close" (click)="onCloseHandled()"><span
              aria-hidden="true">&times;</span></button>
        </div>
        <div class="modal-body">
          <form [formGroup]="formValue">
            <div class="mb-3">
              <label for="exampleInputEmail1">First Name</label>
              <input type="text" formControlName="firstName" class="form-control" id="exampleInputEmail1"
                aria-describedby="emailHelp" placeholder="Enter First Name">
            </div>
            <div class="mb-3">
              <label for="exampleInputPassword1">Last Name</label>
              <input type="text" formControlName="lastName" class="form-control" id="exampleInputPassword1"
                placeholder="Enter Last Name">
            </div>
            <div class="mb-3">
              <label for="exampleInputPassword1">Email ID</label>
              <input type="text" formControlName="email" class="form-control" id="exampleInputPassword1"
                placeholder="Enter Last Name">
            </div>
            <div class="mb-3">
              <label for="exampleInputEmail1">Mobile Number</label>
              <input type="number" formControlName="mobile" class="form-control" id="exampleInputEmail1"
                aria-describedby="emailHelp" placeholder="Enter Mobile Number">
            </div>

          </form>
        </div>
        <div class="modal-footer">
          <button type="button" id="cancel" class="btn btn-secondary" (click)="onCloseHandled()">Close</button>
          <button type="button" *ngIf="showAdd" (click)="postMemberDetails()" class="btn btn-primary"
            (click)="onCloseHandled()">Add</button>
          <button type="button" *ngIf="showUpdate" (click)="updateMemberDetails()" class="btn btn-primary"
            (click)="onCloseHandled()">Update</button>
        </div>
      </div>
    </div>
  </div>
</div>